fastapi
uvicorn
python-multipart
langchain
langgraph
qdrant-client
redis
celery
pydantic
pydantic-settings
sqlalchemy
psycopg2-binary
python-dotenv
pillow
pymupdf
paddleocr
paddlepaddle
sentence-transformers
transformers
torch
streamlit
langchain-text-splitters